.add-plylst-bckrnd {
    height: fit-content;
    width: 40rem;
    background-color: white;
    justify-content: flex-start;
    padding-bottom: 2rem;
    border-radius: 15px;
}

.plylst-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.plylst-to-add { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 90%;
}

.plylst-img-name {
    width: fit-content;
    justify-content: space-between;
}

.plylst-img-name p {
    margin-left: 1rem;
}

.add-plylst-btn {
    border: 1px solid #e5e5e5;
    padding: 0.25rem;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    height: 1rem;
}

.add-plylst-btn.added {
    border-color: #FF5501;
    color: #FF5501;
}

.add-to-playlist-header {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
}

.add-to-playlist-header h2 {
    margin-right: 1rem;
    cursor: pointer;
}

h2.selected {
    color: #FF5501;
    border-bottom: solid 2px #FF5501;
}

.add-plylst-bckrnd input {
    height: 20px;
    width: 90%;
    margin-top: .5rem;
}

.add-plylst-bckrnd button.org-btn {
    font-size: 12px;
    width: 2rem;
    height: 1rem;
    text-align: center;
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 1rem;
}

.crt-plylst-add p {
    font-size: 12px;
}

.crt-plylst-add img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 1rem;
}

.song-slice-plylst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 1rem;
}

.song-slice-plylst span{
    color: #999;
    font-size: 20px;
    cursor: pointer;
}