.upload-song-page {
    background-color: white;
    width: 1250px;
    margin-top: 2.5rem;
    height: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.upload-container {
    width: 45rem;
    height: fit-content;
    min-height: 27rem;
    border: solid gray 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    margin-top: 15rem;
}

.drag-drop-area {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.drag-drop-area p {
    font-size: 25px;
}

.sng-upld-btn {
    width: 15rem;
    height: 2rem;
}

.input-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 2rem;
}

.btm-upld {
    position: relative;
    top: 10rem;
}

.left-side,
.right-side {
    width: 50%;
    position: relative;
}

.right-side {
    padding: 1rem;
}

.form-container {
    width: inherit;
    padding: 1rem;
}

.sng-img-upld-btn {
    position: absolute;
    bottom: 4rem;
    left: 6rem;
    background: white;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    text-align: center;
    opacity: 0.75;
    cursor: pointer;
    transition: opacity .1s ease-in;
    text-indent: 5px;
}

.sng-img-upld-btn:hover {
    opacity: 1;
}

.drop-errors {
    position: absolute;
    bottom: 0;
    width: 20rem;
    left: -12rem;
    color: red
}

.mid-form {
    width: inherit;
    display: flex;
    align-items: center;
}

.right-side div {
    margin: 1rem;
}

.right-side input {
    height: 2rem;
    font-size: 15px;
}

.right-side textarea {
    height: 10rem;
    font-size: 15px;
}

.upld-btns {
    width: 15rem;
    justify-content: space-around;
}

.popup-box-bkgrnd{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 200;
}

.popup-box {
    background-color: white;
    box-shadow: 0 0 5px;
    height: 25rem;
    width: 50rem;
}

.popup-box p {
    color: lightgray;
    font-size: 25px;
}

.background-loading {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.loading-text {
    position: absolute;
    top: 13vh;
    left: 37vw;
    animation: loader 2s infinite;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1turn);
    }
  }