.song-box-image {
    margin: 1rem;
    height: 180px;
    width: 180px;
    object-fit: cover;
    position: relative;
}

.play-btn {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
    top: 4rem;
    left: 4rem;
    color: #ff5501;
    font-size: 70px;
    opacity: 0;
}

.play-btn:hover {
    opacity: 1;
}

.song-artist {
    color: gray;
    font-size: 12px;
    margin-left: 1rem;
}

.song-name {
    margin-bottom: 0.5rem;
    font-size: 14px;
    margin-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}