.upload-song-page {
    background-color: white;
    width: 1250px;
    margin-top: 2.5rem;
    height: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.upload-container {
    width: 45rem;
    height: 25rem;
    border: solid gray 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    margin-top: 15rem;
}

.drag-drop-area {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}

.drag-drop-area p {
    position: relative;
    top: 5rem;
    font-size: 25px;
}

.sng-upld-btn {
    width: 15rem;
    height: 2rem;
}