.upload-song-page {
    background-color: white;
    width: 1250px;
    margin-top: 2.5rem;
    height: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.upload-container {
    width: 45rem;
    height: 27rem;
    border: solid gray 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    margin-top: 15rem;
}

.drag-drop-area {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}

.drag-drop-area p {
    position: relative;
    top: 5rem;
    font-size: 25px;
}

.sng-upld-btn {
    width: 15rem;
    height: 2rem;
}

.input-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 2rem;
}

.btm-upld {
    position: relative;
    top: 10rem;
}

.left-side,
.right-side {
    width: 50%;
    position: relative;
}

.right-side {
    padding: 1rem;
}

.form-container {
    width: inherit;
    padding: 1rem;
}

.sng-img-upld-btn {
    position: absolute;
    bottom: 4rem;
    left: 6rem;
    background: white;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    text-align: center;
    opacity: 0.75;
}

.drop-errors {
    position: absolute;
    bottom: 0;
    width: 20rem;
    left: -12rem;
    color: red
}

.mid-form {
    width: inherit;
    display: flex;
    align-items: center;
}

.right-side div {
    margin: 1rem;
}

.right-side input {
    height: 2rem;
    font-size: 15px;
}

.right-side textarea {
    height: 10rem;
    font-size: 15px;
}

.upld-btns {
    width: 15rem;
    justify-content: space-around;
}