.queue-container {
    position: fixed;
    background: #808080;
    width: 30rem;
    bottom: 5rem;
    right: 0;
    z-index: 99;
    border-top-left-radius: 10px;
}

.song-queue img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.song-queue {
    justify-content: space-between;
    margin: 10px;
}

.song-queue > * {
    margin: 0 2rem;
}

.song-queue p {
    text-overflow: ellipsis;
    text-align: center;
    max-width: 15rem;
    overflow: hidden;
    white-space: nowrap;
}

.fade-in, .fade-out {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fade-in {
    opacity: 1;
}