.discover-sect {
    background-color: white;
    width: 1250px;
    padding-top: 2rem;
}

.discover-title {
    margin-left: 2rem;
}

.song-sect {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2rem;
}

.song-list {
    display: flex;
    overflow: scroll;
}

.song-sect button{
    color: #FF5500;
}