button, a {
    all: unset;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flx-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flx-jst-strt {
    display: flex;
    justify-content: flex-start;
}

.flx-col {
    display: flex;
    flex-direction: column;
}

.flx-jst-spc-arnd {
    display: flex;
    justify-content: space-around;
}

.flx-jst-spc-btwn {
    display: flex;
    justify-content: space-between;
}

.txt-algn-lft {
    text-align: left;
}

.txt-algn-ctr {
    text-align: center;
}

.mrgn-tp-0 {
    margin-top: 0
}

.flx-wrp {
    display: flex;
    flex-wrap: wrap;
}

.pos-abs {
    position: absolute;
}

.org-btn {
    color: white;
    background-color: #ff5501;
    border: solid 1px #ff5501;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.input-forms {
    width: 80%;
    height: 2rem;
    font-size: 18px;
    margin: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.main-audio-player {
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.fake-file-input {
    margin: .5rem;
    z-index: 1;
}