.trending-container {
    height: 40rem;
    width: inherit;
    justify-content: flex-start;
}

@media (min-width: 1240px) {
    .trending-container {
        position: relative;
        top: 50px
    }
}

.page-container {
    color: white;
    background-color: white;
    width: 85vw;
    position: relative;
    justify-content: flex-start;
}

@media (min-width: 1240px) {
    .page-container {
        width: 1240px;
        height: 1350px;
    }
}

.exploring-container {
    width: inherit;
    height: inherit;
}

.explore-songs-button {
    width: 12rem;
    height: 30px;
    cursor: pointer;
    top: 300px;
    position: absolute;
}

@media (min-width: 1240px) {
    .explore-songs-button {
        width: 12rem;
        height: 30px;
        cursor: pointer;
        top: 300px;
        position: absolute;
    }
}

.landing-banner {
    width: inherit;
    height: 545px;
    object-fit: cover;
    border-top: solid 5px #ff5501;
}

.explore-playlists-button {
    height: 2rem;
    width: 15rem;
    position: relative;
    top: 3rem;
    cursor: pointer;
}

.continue-listening {
    width: inherit;
    height: 25rem;
}

.continue-listening-container {
    width: 75vw;
    background-color: #f2f2f2;
    padding-top: 4rem;
}

@media (min-width: 1240px) {
    .continue-listening-container {
        width: 1100px;
    }
}

.mobile-text {
    align-items: center;
    padding-left: 3rem;
}

.create-acct-btn {
  height: 2rem;
  width: 10rem;
  text-align: center;
  cursor: pointer;
}

.signin-btn { 
    border: 1px lightgray solid;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
}

.landing-nav {
    position: absolute;
    top: 0;
    width: 1100px;
    z-index: 1000;
}

.landing-nav-btns {
    width: 15rem;
}

.search-btn {
    color: #757575;
    font-weight: bold;
    position: absolute;
    top: 4rem;
    font-size: 29px;
    cursor: pointer;
}

@media (min-width: 1240px) {
    .search-btn {
        right: 250px;
        top: 15px;
    }
}

.search-container {
    position: relative;
    width: 65vw;
    height: 10rem;
}

@media (min-width: 1240px) {
    .search-container {
        width: 850px;
        height: 10rem;
    }
}

.search-bar {
    background-color: #F2F2F2;
    border: none;
    width: 40rem;
    height: 2rem;
    font-size: 18px;
    padding: 1rem;
}

.search-bar::placeholder {
    color: #999999;
    padding-left: 20px
}

@media (min-width: 1240px) {
    .search-bar {
        width: 600px;
        height: 46px;
        padding: 0;
        font-size: 14px;
    }
}

.upld-btn {
    height: 2.5rem;
    width: 10rem;
    text-align: center;
    cursor: pointer;
}

.landing-footer {
    background-color: white;
    width: 85vw;
    height: 30rem;
}

@media (min-width: 1240px) {
    .landing-footer {
        width: 1240px;
    }
}

.ind-song {
    cursor: pointer;
    position: relative;
}

@media (min-width: 1240px) {
    /* .music-container {
        position: relative;
        top: 10px;
    } */

    .trending-title {
        color: black;
    }

    .song-wrapper {
        color: black;
        width: 1275px;
    }

    .ind-song {
        width: 200px;
    }
}