.song-artist {
    color: gray;
    font-size: 12px;
    margin-left: 1rem;
}

.song-name {
    margin-bottom: 0.5rem;
    font-size: 14px;
    margin-left: 1rem;
}

.trending-container {
    height: 30rem;
    width: inherit;
    justify-content: flex-start;
}

.page-container {
    color: white;
    background-color: white;
    width: 50vw;
}

.exploring-container {
    top: 10rem;
}

.explore-songs-button {
    width: 12rem;
    height: 2rem;
    cursor: pointer;
}

.landing-banner {
    width: inherit;
    height: 35vh;
    object-fit: cover;
    border-top: solid 5px #ff5501;
}

.explore-playlists-button {
    height: 2rem;
    width: 15rem;
    position: relative;
    top: 3rem;
}

.continue-listening {
    width: inherit;
    height: 26rem;
}

.continue-listening-container {
    width: 50vw;
    background-color: #f2f2f2;
    padding: 1rem;
}