.single-page {
    display: flex;
    margin-top: 2.5rem;
    flex-direction: column;
    min-height: 100vw;
    background-color: white;
}

.background-player-info {
    color: white;
    background-color: black;
    width: 1250px;
    height: 24rem;
    justify-content: space-around;
}

.background-player-info img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.song-text {
    align-items: flex-start;
}

.play-song {
    justify-content: space-around;
    width: 40rem;
}

.play-song span {
    font-size: 100px;
}

.comment-pic-div {
    background-color: #f2f2f2;
}

.comment-pro-pic {
    height: 50px;
    width: 40px;
    object-fit: cover;
}

.comment-input {
    border: 1px solid #e5e5e5;
    height: 1.5rem;
    width: 48rem;
    margin: .5rem;
    font-family: inherit;
}

.comment-create-sect {
    align-items: flex-start;
    margin: 1rem 2rem;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
}

.song-user-btns {
    width: 8rem;
    justify-content: space-around;
    margin-top: 1rem;
}

.song-user-btns button {
    border: 1px solid #e5e5e5;
    padding: .25rem;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.song-user-btns span {
    font-size: 12px;
    margin-left: 5px;
}

#delete-btn {
    color: red;
    border: 1px solid red;
}

.song-artist-pic {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 1rem;
}

.artist-info {
    width: 10rem;
    justify-content: flex-start;
}

.artist-info-comment-list {
    display: flex;
}

.comment-list {
    margin-left: 1rem;
    font-size: 12px;
}

.comment-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45rem;
    font-size: 12px;
}

.comment-card img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.comment-info {
    display: flex;
    align-items: center;
    width: 20rem;
    margin: .25rem;
}

.user-info {
    margin-left: 2.5rem;
}

.delete-comment {
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.delete-comment span {
    font-size: 15px;
    padding: 5px;
}

.comment-list p {
    color: #999999;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.comment-list > p {
    margin-left: 1rem;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
}