.nav-bar {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    width: 85vw;
    flex-direction: row;
    color: white;
    position: fixed;
    top: 2rem;
    z-index: 100;
}