.nav-bar {
    background-color: #333333;
    justify-content: space-between;
    height: 2.75rem;
    width: 100vw;
    color: white;
    top: 0;
    z-index: 100;
}

.nav-container {
    width: 1250px;
    height: inherit;
}

.nav-left,
.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
    height: inherit;
}

.nav-logo {    
    font-weight: bold;
    background-color: black;
    height: inherit;
    width: 12rem;
    cursor: pointer;
}

.nav {
    height: inherit;
    width: 7rem;
    cursor: pointer;
}

.nav-active {
    background-color: black;
}

.nav-profile-pic {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.profile-dropdown {
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 2.75rem;
    color: black;
    width: 10rem;
    height: 15rem;
    right: 0;
    box-shadow: 0 0 5px grey;
    justify-content: space-evenly;
}

.profile-btn {
    justify-content: space-around;
    width: 10rem;
    height: 100%;
    cursor: pointer;
}

.profile-btn.clicked {
    background-color: black;
}