.nav-bar {
    background-color: #333333;
    justify-content: space-between;
    height: 2.75rem;
    width: 100vw;
    color: white;
    top: 0;
    z-index: 100;
}

.nav-container {
    width: 1250px;
    height: inherit;
}

.nav-left,
.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
    height: inherit;
}

.nav-logo {    
    font-weight: bold;
    background-color: black;
    height: inherit;
    width: 12rem;
    cursor: pointer;
}

.nav {
    height: inherit;
    width: 7rem;
    cursor: pointer;
}

.nav-active {
    background-color: black;
}